Notifications [Future Works]
Dashboard_reports
Charts 
medical_files [Future Works]
Duration_(Treatment Plan)
Approve_appointment
Profile_Default
Patient_Login
Service_From_Patients_interface

server = 	sql304.infinityfree.com
username = if0_34737344
password =  Denta1234
database = if0_34737344_dental_clinic

hsl(174, 97%, 25%)
rgb(2, 128, 116)
028074

hsl(214, 26%, 26%)
rgb(49, 64, 83)
314053

update [session] variables when profile is updated